
.copyrite{
    background-color:#525252;
}
.copyrite p{
    color:#fff;
}
.copyrite p a:hover{
    color:#ff5503 !important;
}
footer {
    background-color: #111;
}
.top_box a,
.top_box p,
.top_box h2:not(.navbar-brand h2,.navbar-brand span),
.top_box span:not(.navbar-brand span){
     color:#fff;
     text-decoration: none;
}
.top_box li::marker{
    color:#fff
}
.top_box a:not(.navbar-brand):hover{
    text-decoration: underline;
}
