<div class="contact_outer py-5">
    <div class="container">
        <h3>Contact</h3>
        <p>I'm always eager to connect with fellow professionals, collaborate on exciting projects, and engage in meaningful discussions. Whether you have questions, opportunities for collaboration, or simply want to say hello, please don't hesitate to reach out. You can contact me through the following channels:</p>
        <p><strong>Email:</strong> <a href="mailto:XYZ@MAIL" target="_new">Your Email Address</a></p>
        <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/your-profile" target="_new">Your LinkedIn Profile</a></p>
        <p><strong>GitHub:</strong> <a href="https://github.com/your-username" target="_new">Your GitHub Profile</a></p>
        <p>Feel free to send me an email, connect with me on LinkedIn, or explore my GitHub repositories. I'm just a message away, and I look forward to hearing from you!</p>
        <!--<p>Additionally, you can consider adding a contact form to your website, allowing visitors to send you direct messages or inquiries. If you choose to include a contact form, you can provide a brief message like, "You can also reach me directly using the contact form below."</p>-->
    </div>
</div>