<div class="experience_outer py-5">
    <div class="container">
        <h3>Work Experience</h3>
        <h4>Senior Web Developer at ABC</h4>
        <p><strong>September 2022 - Present</strong></p>
        <p>As a Senior Web Developer at ABC, I've had the privilege to lead and contribute to impactful web development projects. My role involves collaborating with cross-functional teams, providing technical expertise, and ensuring the successful delivery of web solutions.</p>
        <p><strong>Key Achievements and Responsibilities:</strong></p>
        <ul>
        <li>
            <p><strong>Technical Expertise:</strong> Implemented cutting-edge technologies such as Angular and React to enhance the performance and user experience of web applications.</p>
        </li>
        <li>
            <p><strong>Problem Solving:</strong> Resolved critical technical challenges, including optimizing page load times, ensuring cross-browser compatibility, and addressing security vulnerabilities.</p>
        </li>
        <li>
            <p><strong>Collaboration:</strong> Collaborated closely with UX/UI designers to translate design concepts into functional and visually appealing websites.</p>
        </li>
        <li>
            <p><strong>Mentorship:</strong> Mentored junior developers, fostering their growth and helping them develop a strong foundation in web development best practices.</p>
        </li>
        </ul>
        <hr>
        <h4>Associate Web Developer at XYZ</h4>
        <p><strong>August 2021 - September 2022</strong></p>
        <p>As an Associate Web Developer at XYZ, I gained invaluable experience working on a range of web development projects. This role allowed me to refine my technical skills and lay the foundation for my career in web development.</p>
        <p><strong>Key Achievements and Responsibilities:</strong></p>
        <ul>
        <li>
            <p><strong>Front-End Development:</strong> Collaborated with the front-end team to implement responsive and user-friendly interfaces using HTML, CSS, and JavaScript.</p>
        </li>
        <li>
            <p><strong>Back-End Integration:</strong> Worked closely with back-end developers to integrate front-end components with server-side logic, ensuring seamless functionality.</p>
        </li>
        <li>
            <p><strong>Troubleshooting:</strong> Diagnosed and resolved technical issues, optimizing website performance and enhancing the user experience.</p>
        </li>
        <li>
            <p><strong>Agile Development:</strong> Participated in Agile development methodologies, including daily stand-ups and sprint planning, to ensure project timelines and milestones were met.</p>
        </li>
        <li>
            <p><strong>Continuous Learning:</strong> Proactively kept up-to-date with industry trends and emerging web technologies, applying new knowledge to project development.</p>
        </li>
        </ul>
        <hr>
    </div>
</div>