<div class="tech-skill_outer py-5">
   <div class="container">
      <h3>Technical Skills</h3>
      <p>I possess a diverse range of technical skills, acquired through years of hands-on experience and a passion for staying up-to-date with emerging technologies. Here are some of the key technical skills that define my expertise:</p>
      <p><strong>Web Development Technologies:</strong></p>
      <ul>
         <li>
            <p><strong>HTML &amp; CSS:</strong> Proficient in creating and styling web pages using HTML and CSS, ensuring responsive and visually appealing designs.</p>
         </li>
         <li>
            <p><strong>JavaScript:</strong> Experienced in using JavaScript to enhance website interactivity and user experience, including the use of frameworks like Angular, React, and jQuery.</p>
         </li>
         <li>
            <p><strong>PHP:</strong> Skilled in server-side scripting with PHP to build dynamic web applications and websites.</p>
         </li>
      </ul>
      <p><strong>Web Technologies:</strong></p>
      <ul>
         <li>
            <p><strong>Angular:</strong> Proficient in Angular framework for building dynamic and scalable single-page applications.</p>
         </li>
         <li>
            <p><strong>React:</strong> Experienced in developing user interfaces with React, a popular JavaScript library.</p>
         </li>
         <li>
            <p><strong>jQuery:</strong> Proficient in using jQuery to simplify DOM manipulation and improve front-end development efficiency.</p>
         </li>
      </ul>
      <p><strong>Programming Languages:</strong></p>
      <ul>
         <li><strong>C, C++, Java, Python:</strong> Competent in various programming languages, enabling me to solve complex problems and develop versatile applications.</li>
      </ul>
      <p><strong>Databases:</strong></p>
      <ul>
         <li>
            <p><strong>MySQL:</strong> Experienced in designing and managing relational databases using MySQL, ensuring data integrity and efficient querying.</p>
         </li>
         <li>
            <p><strong>MongoDB:</strong> Proficient in NoSQL database management with MongoDB, suitable for flexible and scalable data storage.</p>
         </li>
      </ul>
      <p>These technical skills form the backbone of my ability to create innovative web solutions and applications. I continually expand my skill set to adapt to the ever-evolving technology landscape, ensuring I deliver high-quality results in every project I undertake.</p>
   </div>
</div>