<div class="about_outer py-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="img_left_about col-md-4">
                <img class="img-fluid" src="assets/images/3d_character_58.jpg" alt=""/>
            </div>
            <div class="txt_right_about col-md-8">
                <h2 class="text-center" style="white-space: pre-line">Hello!, there</h2>
                <p class="text-center">I'm Murali K, a dedicated and results-oriented web developer with an excellent attention to detail and a strong dedication to ongoing improvement. In the field of comprehensive software engineering, where accuracy and creativity are critical, I thrive.</p>
            </div>
        </div>
    </div>
</div>
